<h1>Edit article</h1>

<%= render 'form' %>

<p>
  <%= link_to 'List', articles_path %> |
  <%= link_to 'Delete', @article, method: :delete,
    data: { confirm: "Are you sure to delete article \"#{@article.title}\" (id=#{@article.id})?"} %>
</p>
